.app{
  display:flex;
    padding:30px;
}

/* game board width and height that size because it is nicely divisible by 8 */
.game{
  width: 560px;
  height: 560px ;
  display: flex;
  flex-wrap: wrap;
}

/* any image in game board will be resized below*/
.game img{
  width: 70px;
  height: 70px;
}